body {
    margin: 0;
    background: #000;
    color: white;
    font-family: Arial;
}

.container {
    padding: 20px;
}

.title {
    font-size: 22px;
    margin-bottom: 20px;
}

.card {
    background: #111;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.button {
    background: #e53935;
    border: none;
    padding: 14px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #222;
    color: white;
    margin-bottom: 15px;
    max-width: 100%;
}

.sheet {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    height: 100%;
    display: flex;
    align-items: flex-end;

    z-index: 9999;   /* ⭐ ВАЖНО */
}

.sheet-content {
    background: #111;
    width: 100%;
    max-height: 60%;
    overflow-y: auto;
    border-radius: 20px 20px 0 0;
    padding: 20px;

    position: relative;
    z-index: 10000;
}

.sheet-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.sheet-item {
    padding: 15px;
    border-bottom: 1px solid #222;
}

.sheet-item:active {
    background: #222;
}

.button-outline {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.button-outline:hover {
    background: rgba(255, 255, 255, 0.1);
}

* {
    box-sizing: border-box;
}